{% extends "home/base.html" %}

{% block start %}

<div class="container mt-5">


    <form class="col-6 mx-auto shadow-lg " method="post" enctype="multipart/form-data">
       {% csrf_token %}
        <h2>Update Receipe</h2>
        <hr>


  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Receipe name:</label>
    <input name = " receipe_name" value  = "{{receipe.receipe_name}}"    type="text" class="form-control">     
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1"  class="form-label">Receipe description:</label>
    <textarea class="form-control" name = "receipe_description"  value = ""  required> {{receipe.receipe_description}} </textarea>
  </div>

    <div class="mb-3">
    <label for="exampleInputPassword1"   class="form-label">Receipe Image:</label>
    <input type="file"  name = "receipe_image"  class="form-control"> 
  </div>
  
  <button type="submit" class="btn btn-primary">Update Receipe</button>
</form>


     
  </div>


{% endblock %}