{% extends "home/base.html" %}

{% block start %}

  <title>Welcome</title>
    <style>

      main { text-align: center; }
      h7 {
        font-size: clamp(2rem, 6rem, 4rem);
        letter-spacing: .06em;
        margin: 0;
      }
   
    </style>
  </head>
  <body>
    <main>
      <h7>WELCOME TO MY WEBSITE</h7>
    </main>  
    <br>

   <center><h2>Its A Project:</h2></center>
      <br>
   <center><h2>And I Made this Project Using (Python, Django Framework And Html,CSS,javascript)  </h2></center>

   <center><h2>Where You Can Add receipe And Perform CRUD Operations </h2></center> 
    <br>
<center><h2>Now First, Register And Perform Operatios</h2></center>



{% endblock %}
